body {
    background-color: #2F2F2F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro_texto {
  align-content: center;
  justify-content: center;
  width: 40%;
  padding-left: 132px;
}

h2 {
  margin: 15px;
}

.frase {
  font-size: 27px;

}

.desing {
  color: #F3B3B7;
  font-size: 72px;
}

.create {
  color: #88C9E7;
  font-size: 72px;
}

.inspire {
  color: #3DC8C0;
  font-size: 72px;
}

.boton button{
  border-radius: 36px;
  width: 182px;
  height: 66px;
  font-size: 24px;
}

.prueba {
  display: flex;
  justify-content: space-between;
}

.supercuadro_fotos img{
  width: 30%;
}

.cuadro_fotos {
    display: flex;
    width: 1000px;
    margin: 50px;
}

.foto1 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto2 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto3 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto4 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto5 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto6 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto7 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto8 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto9 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto10 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto11 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto12 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto13 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto14 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto15 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}

.foto16 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 170px;
}