body {
    background-color: #2F2F2F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro_texto {
    display: flex;
    width: 40%;
}

.cuadro_fotos {
    display: flex;
    align-items: right;
    width: 30%;
}

.foto1 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto2 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto3 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto4 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto5 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto6 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto7 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto8 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto9 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto10 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto11 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto12 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto13 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto14 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto15 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}

.foto16 img {    
  border-radius: 30px;            
  padding: 12px;
  width: 100px;
}