body {
    background-color: grey;
    display: flex;
    justify-content: center;
}

.container_carta {
    width: 1440px;
    height: 1250px;
    background-color: white;
}

.blanco_arriba {
    height: 620px;
    margin-bottom: 100px;
}

.textos_arriba {
    width: 464px;
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 150px;
}

button {
    background-color: #A36A4F;
    border-radius: 36px;
    border: none;
    width: 179px;
    height: 66px;
    color: white;
    font-size: 24px;
}

.titulo {
    font-size: 67px;
    display: flex;
    flex-direction: column;
    margin: 0
}

.text {
    font-size: 30px;
}

.seccion_marron {
    background-color: #363032;
}

.texto_cuadro_marron {
    color: white;
    font-family: sans-serif;
}

.imagenes_cuadro_marron {
    border-radius: 16px;
    width: 186px;
    height: 246px;
}

.seccion_fotos {
    display: flex;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 138px;
    padding-bottom: 30px;
}

.imagenes {
    width: 592px;
    margin-top: 64px;
    position: relative;
}

.fotosyletras {
    display: flex;
    gap: 140px;
}

.img6_pro4 img {
    width: 440px;
    position: absolute;
}

.img7_pro4 img {
    width: 300px;
    position: absolute;
    top: 250px;
    left: 285px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.seccion_marronclarito {
    background-color: #ECDAC4;
    width: 878px;
    height: 188px;
    border-radius: 80px;
    position: absolute;
    top: -90px;

}

.container_marronclarito {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 686px;
    height: 140px;
    padding-top: 24px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 24px;
}

.mini_cajita {
    width: 170px;
    height: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.titulo_cajitaflotante {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.texto_cajitaflotante {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro_icono {
    width: 36px;
    background-color: #FFFFFF59;
    border-radius: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono_cafe {
    width: 24px;
    height: 24px;
    display: flex;
}