body {
    font-family: Arial, Helvetica, sans-serif;;
}

header {
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*section {
    background-color: #D3D3D3;
}
*/

.p_header {
    margin-top: -10px;
}

.p_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    padding-top: 10px;
    margin-bottom: 0%;
    padding-bottom: 10px;
}

footer {
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    padding: 10px;
}


.img img{
    width: 200px;
}

.containerparrafo {
    border: solid 2px red
}

.p_main {
    border: solid 2px blue;
}

main {
    padding-left: 150px;
    padding-right: 150px;
}

.engloba_galeria {
    border: solid 5px green;
}

.galeria_linia1 {
    border: solid 5px yellow;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.targeta1 {
    border: solid 5px red;
}