body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.container {
    width: 1440px;
    height: 1024px;
    background-color: white;
    display: flex;
}

.sec_seguridad {

}

.divisor1 {
    width: 568px;
    height: 418px;
    margin-top: 298px;
    margin-left: 64px;
}

.caja_titulo {
    margin-bottom: 32px;
}

h1 {
    font-size: 67px;
    color: #2C1001;
    margin: 0;
}

.caja_texto {
    margin-bottom: 32px;
}

.p_text {
    font-size: 27px;
    color: #2C1001;
    margin: 0;
}

button {
    background-color: #FFDE81;
    width: 265px;
    height: 78px;
    border-radius: 36px;
    border: none;
}

.p_boton {
    color: #2C1001;
    font-size: 20px;
}

.divisor2 {
    width: 650px;
    height: 168px;
    margin-top: 76px;
    margin-left: 64px;
    background-color: #49342F;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
}

.cuadro1 {
    width: 110px;
    height: 120px;
    margin-left: 96px;
    margin-top: 24px;
}

.cuadro2 {
    width: 110px;
    height: 120px;
    margin-top: 24px;
}

.cuadro3 {
    width: 110px;
    height: 120px;
    margin-top: 24px;
    margin-right: 96px;
}

.p_titulo_cuadro {
    font-size: 24px;
    margin: 0;
    margin-bottom: 16px;
}

.p_text_cuadro {
    font-size: 16px;
    margin: 0;
    margin-top: 16px;
}

.divisor3 {
    position: relative;
    width: 791px;
    height: 904px;
    margin-top: 47px;
    margin-left: -130px;
}

.mobil1_pro5 {
    position: absolute;
    margin-left: 90px;
    margin-top: 400px;
    width: 490px;
    height: 550px;
    z-index: 3;
}

.star1_pro5 {
    position: absolute;
    width: 194px;
    margin-left: 40px;
    margin-top: 50px;
    z-index: 4;
}

.destello1_pro5 {
    position: absolute;
    margin-top: 160px;
    margin-left: 440px;
    width: 151px;
    height: 172px;
    z-index: 4;
}

.corazon1_pro5 {
    position: absolute;
    margin-top: 372px;
    margin-left: 231px;
    width: 272px;
    height: 239px;
    z-index: 2;
}

.targeta_amarilla_pro5 {
    position: absolute;
    margin-top: 150px;
    margin-left: 114px;
    width: 477px;
    height: 572px;
    z-index: 1;
}

.destello2_pro5 {
    position: absolute;
    margin-top: 270px;
    margin-left: 600px;
    width: 131px;
    height: 152px;
    z-index: 4;
}

.star2_pro5 {
    position: absolute;
    margin-top: 730px;
    margin-left: 620px;
    width: 150px;
    z-index: 4;
}

.targeta_marron_pro5 {
    position: absolute;
    margin-top: 170px;
    margin-left: 210px;
    width: 473px;
    height: 552px;
    z-index: 0;
    transform: rotate(25deg);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 20px;
}