body {
    font-family: Arial, Helvetica, sans-serif;
}

.container_textos {
    border: solid 5px blue;
}

.container_titulos {
    border: solid 5px green;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 80px;
    color: #333333;
    margin: 0;
}

/*img*/

.bloque_imagenes {
    border: solid 5px red;
    display: flex;
    justify-content: center;
}

.img1_pro9 img {
    width: 328px;
    height: 283px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.img2_pro9 img {
    width: 328px;
    height: 283px;
}

.img3_pro9 img {
    width: 328px;
    height: 283px;
}

.img4_pro9 img {
    width: 328px;
    height: 283px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}