body {
    font-family: Arial, Helvetica, sans-serif;
}

.container_textos {
    padding-top: 129px;
    padding-left: 64px;
    width: 556px;
    height: 430px;
    padding-bottom: 30px;
}

.container_titulos {
    display: flex;
    flex-direction: column;
    width: 556px;
    height: 204px;
}

h2 {
    font-size: 75px;
    color: #333333;
    margin: 0;
}

.p_titulo {
    font-size: 24px;
    margin-bottom: 32px;
    margin-top: 32px;
}

button {
    background-color: #333333;
    font-size: 22px;
    color: #FFFFFF;
    width: 222px;
    height: 66px;
    border: none;
    border-radius: 40px;
}

.parrafos_fotosinferior {
    font-size: 10px;
    color: red;
}

/*lista*/

.parte_arriba {
    display: flex;
    justify-content: space-between;
    margin-bottom: 164px;
}

.lista_pro9 {
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-top: 129px;
    margin-right: 150px;
}

.columna_izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna_der {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.casilla {
    display: flex;
    justify-content: space-between;
}

.texto {
    margin: 0px;
    font-size: 16px;
    width: 210px;
    height: 76px;
    margin-right: 50px;
}

.icono img {
    width: 76px;
    margin-right: 32px;
}

h3 {
    font-size: 28px;
    margin: 0px;
}

p {
    margin: 0px;
}


/*img*/

.bloque_imagenes {
    display: flex;
    justify-content: center;
}

.img1_pro9 img {
    width: 328px;
    height: 283px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.img1_pro9 {
  position: relative; 
  width: 300px;       
}

.texto_img {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.parrafos_fotosinferior {
  color: white;
  margin: 0;
  font-size: 15px;
  line-height: 1.3;
}


.img2_pro9 img {
    width: 328px;
    height: 283px;
}

.img2_pro9 {
    position: relative; 
    width: 300px;     
}

.img3_pro9 img {
    width: 328px;
    height: 283px;
}

.img3_pro9 {
    position: relative; 
    width: 300px;     
}

.img4_pro9 img {
    width: 328px;
    height: 283px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.img4_pro9 {
    position: relative; 
    width: 300px;     
}