body {
    background-color: #010625;
    font-family: Arial, Helvetica, sans-serif;
}

.divisor1 {
    display: flex;
    justify-content: center;
}

.content {
    width: 542px;
    height: 560px;
    margin-top: 133px;
    margin-left: 104px;
}

.titulo {
    color: white;
    width: 407px;
    height: 318px;
}

h1 {
    margin: 0;
    font-size: 85px;
}

.p_content {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

button {
    background-color: white;
    border-radius: 16px;
    width: 190px;
    height: 66px;
}

.p_button {
    font-size: 28px;
    margin: 0;
}

.img_arribader {
    display: flex;
    justify-content: space-between;
    width: 732px;
    height: 646px;
}

.img1_pro8 img {
    width: 348px;
    height: 473px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.img2_pro8 img {
    width: 348px;
    height: 473px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.divisor2 {
    display: flex;
    justify-content: center;
}

.img3_pro8 img {
    width: 676px;
    height: 304px;
    margin-left: 64px;
    margin-top: 64px;
    border-radius: 32px;
}

.lista_texto {
    margin-left: 138px;
    width: 456px;
    height: 464px;
    margin-top: -100px;
}

.caja_num {
}

.num {
    font-size: 32px;
    margin:0;
    color: white;
}

.caja_text {
    margin-top: 16px;
}

.text {
    font-size: 24px;
    margin: 0;
    color: rgba(255, 255, 255, 0.788);
}

.bloque1 {
    margin-top: 38px;
}

.bloque2 {
    margin-top: 40px;
}

.bloque3 {
    margin-top: 40px;
}

.divisor3 {
    margin-top: 72px;
}

.fotos_abajo {
    display: flex;
    justify-content: center;
}

.img1_bottom img {
    width: 412px;
    height: 260px;
    margin-left: 45px;
    border-radius: 16px;
}

.img2_bottom img {
    width: 412px;
    height: 260px;
    margin-left: 24px;
    border-radius: 16px;
}

.img3_bottom img {
    width: 412px;
    height: 260px;
    margin-left: 24px;
    border-radius: 16px;
}