body {
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro_final {
background-color: #252525;
color: white;
border-radius: 30px;
}

.dentrocuadro_final {
    padding: 40px;
}

.minicuadro_1 {
    display: flex;
}

.minicuadro_2 {
    display: flex;
    justify-content: center;
}

.minicuadro_3 {
    
}